.container
{
    display: flex;
    background-color: ghostwhite;
    height: 100vh;
    justify-content: center;
    margin: auto;
}
.loginContainer
{
    margin-top:100px;
    width:40ch;
    height:40ch;
    box-shadow:rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.login
{
    font-family:cursive;
    color: rgb(37, 32, 32);
}